.list-group-item-action{
    &:hover{
        background-color: $colorLetra;
        color: white;
    }
}
.card-body{
    background-color: $colorFondo;
    border: 5px solid $colorLetra;
    border-radius: 5px;
    h5{
        color: $colorLetra;
        font-family: $letra;
    }
}