.producto{
    border: 1px solid $colorLetra;
}
.accordion-body{
    color: $colorLetra;
}
.page-item{
    color: $colorLetra;
}
.paginas{
    a{
        color: $colorLetra;
        border: 2px solid $colorLetra;
    }
}
