.producto{
    border: 1px solid $colorLetra;
}
.accordion-body{
    color: $colorLetra;
    font-family: $letra;
}
.page-item{
    color: $colorLetra;
    font-family: $letra;
}
.paginas{
    a{
        color: $colorLetra;
        font-family: $letra;
        border: 2px solid $colorLetra;
    }
}
