.form-label{
    color: $colorLetra;
}
.form-control{
    background-color: $colorForm;
    &::placeholder{
        color: white;
    }
}
.invalid-feedback{
    color: $colorLetra;
}
.linea{
    color: $colorLetra;
}

@mixin propiedades($colorFondo, $borde, $colorLetra ) {
    background-color: $colorFondo;
    border: $borde;
    color: $colorLetra;
}

.btn-primary{
    @include propiedades($colorBtn,none,white );
    &:hover{
        background-color: $colorLetra
    }
}
.text{
    color: $colorLetra;
}
$estilos:(
    background-color: $colorForm,
    color: white,
);

.badge{
    background-color: map-get($estilos, background-color );
    color: map-get($estilos, color );
}
.list-group-item{
    background-color: map-get($estilos, background-color );
    color: map-get($estilos, color );
}
.total{
    color: $colorLetra ;
}
.monto{
    color: $colorLetra;
}
.h4{
    color: $colorLetra;
}
.form-check-label{
    color: $colorLetra;
}
.form-check-input{
    &:active{
        background-color: $colorLetra;
    }
}

