*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "variables";
@import "informacion";
@import "turnos y compras";
@import "inicio";
@import "tratamientos";
@import "producto";


